/*index.html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    min-width: 100%;
}

/*material icons css*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*start of body*/

body {
    min-height: 100%;
    height: 100%;
    background: url(../../assets/img/background3.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;    
}

/*nav container*/

.menu-container {
    color: rgb(0, 121, 14);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-container a {
    color: rgb(0, 121, 14);
}
  
.menu {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 110px; 
}

nav {
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.5px;
}

nav ul {
    list-style: none;
}

nav ul:first-of-type,
nav ul:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em 0;
}

nav ul:first-of-type {
    margin-top: 3em;
}

nav ul:first-of-type li {
    margin-right: 1em;
}

nav ul:nth-of-type(2) li {
    margin-right: 4em;
}

/*dropdown content*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: left;
    background: #ffffff;
    padding: 1em;
    width: 14em;
}

.dropdown-content p {
    padding-bottom: 0.5em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*underline animation of nav elements*/

li > a {
    position: relative;
    text-decoration: none;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #008d0e;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* header section */

.header-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; 
}
  
.header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header * {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    transition: all 0.5s ease;
    color: #fff;
}

.header-one {
    background: linear-gradient(
    rgba(0, 0, 0, .8),
    rgba(0, 0, 0, .1)),
    url("../../assets/img/header1.jpg") 100% / cover ;
    padding: 1.5em;
}

.header-one:hover,
.header-two:hover,
.header-three:hover {
    font-size: 20px;
    width: 125%;

}

.header-two {
    background: linear-gradient(
    rgba(0, 0, 0, .8),
    rgba(0, 0, 0, .1)),
    url("../../assets/img/header2.jpg") 100% / cover ;
    padding: 1.5em;
}

.header-three {
    background: linear-gradient(
    rgba(0, 0, 0, .8),
    rgba(0, 0, 0, .1)),
    url("../../assets/img/header3.jpg") 100% / cover ;
    padding: 1.5em;
}

select, button {
    outline: 0;
}

/*search section*/

.quick-search {
    color: rgb(0, 141, 14);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-top: 40%;
}

.quick-search select {
    margin-right: 1em;
    background-color: transparent;
    color: rgb(0, 141, 14);
    width: 12em;
    padding: 5px 0;
    border: 1px solid rgb(0, 141, 14);
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

.quick-search select.smaller {
    width: 6em;
}

.quick-search p {
    border: 1px solid #fff;
    margin-right: 1em;
}

.quick {
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgb(0, 141, 14);
    font-size: 12px;
    width: 12em;    
    color: rgb(0, 141, 14);
}

.quick:first-of-type {
    background-color: rgb(0, 141, 14);
    color: #fff;    
}

/*about the company*/

.about {
    background: url("../../assets/img/background2.jpg");
    height: auto;
    width: 100%;
    color: #2c2c2c;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 7em;
}

.about-content h1 {
    font-size: 36px;
}

.text {
    margin-top: 2em;
    font-size: 16px;
    line-height: 24px;
}

.featured-communities {
    margin-bottom: 1em;
    font-size: 24px;
}

.featured-container {
    display: flex;
    justify-content: center;
  }
  
.community-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 8em;
}

.community-grid-item {
    border: 1px solid #8a8a8a;
    width: 300px;
    margin-right: 1em;
    margin: 0.5em 0.5em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-grid-item p {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.community-grid-item:hover {
    background-color: rgb(0, 121, 14);
    color: #fff;
    
}

/*featured properties*/

.featured-properties {
    background: #fff;
    height: auto;
    text-align: center;
}

.featured-properties-container {
    padding: 3em 0;
}

.featured-carousel {
    display: flex;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.featured-carousel * {
    border: 1px solid #000000;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 1em;
}

/*footer 'to*/

footer {
    background: url("../../assets/img/footer.jpg");
    width: 100%;
    height: auto;
}

.footer-items {
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 5em 0 0 0;
}

footer * {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

footer img {
    height: 100%;
    padding: 0;
}

.associations {
    width: 80%;
    margin: 0 auto;
}

.associations ul {
    width: 100%;
}

.associations li {
    border: 1px solid #fff;
    margin-right: 2em;
    width: 200px;
}

.partners {
    width: 80%;
    margin: 0 auto;
}

.partners ul {
    width: 100%;
    padding: 2em 0 7em 0;
}

.partners li {
    border: 1px solid #fff;
    margin-right: 2em;
    width: 200px;
}

/*for responsiveness index.html*/
  
@media only screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .about {
        height: auto; /* to fit bg image when resized */
        padding-bottom: 5em;
    }

    .header {
        display: block;
        height: 100%;
    }

    .header * {
        padding: 2em 0;
    }

    .featured-carousel {
        display: block;
        margin: 0 1.3em;
    }
}

/*about.html*/

.no-background {
    background-image: none;
}

.banner {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 0;
    z-index: 1;
}

.menu-container {
    position: relative;
    z-index: 2;
}

.centered-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.about-text {
    width: 80%;
    margin: 420px auto 5em auto;
    text-align: center;
    position: relative;
    z-index: 4;
}

@media only screen and (max-width: 980px) {
    .banner {
        position: static;
    }

    .centered-text {
        position: relative;
        font-size: 24px;
        bottom: 3em;
    }

    .about-text {
        margin-top: 0;
        
    }
}

/*contact.html*/

.contact-us {
    width: 80%;
    margin: 420px auto 5em auto;
    z-index: 4;
    display: flex;
    justify-content: center;
}

.google-maps {
    background-color: aquamarine;
    height: 400px;
    width: 50%;
    margin-right: 5em;
}

textarea {
    resize: none;
    width: 90.5%;
    height: 150px;
}

.contact-form {
    border: 1px solid #000000;
    width: 50%;
    text-align: center;
}

.contact-form p {
    padding-top: 5em;
}

.contact-items input {
    width: 45%;
}

.button {
    width: 95%;
    text-align: right;
}

@media only screen and (max-width: 980px) {

    .contact-us {
        display: block;
        margin: 2em auto 5em auto;
    }

    .google-maps,
    .contact-form {
        width: 100%;
        margin-bottom: 3em;
    }

}